@import "./../../scss/utils.scss";

.Home {
  .container {
    padding: 30px 15px;
    @include minTablet {
      padding: 45px 50px;
    }
    .feedback {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 1.22;
      letter-spacing: -0.5px;
      color: #383743;
      font-size: 18px;
      min-height: calc(100vh - 100px - 30px * 2);
      @include minTablet {
        font-size: 32px;
        min-height: calc(100vh - 154px - 45px * 2);
      }
    }
  }
}
