@import "./../../scss/utils.scss";

$widthImage: 779px;

.CardEmpresa {
  padding: 30px 20px;
  margin: 45px auto 0;
  max-width: $widthImage + 30px;
  @include minTablet {
    max-width: 100%;
    padding: 27px 30px;
  }
  &:first-child {
    margin-top: 0;
  }
  .imagem,
  .informacoes,
  .descricao {
    @include minTablet {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .imagem {
    @include minTablet {
      max-width: 293px;
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .informacoes {
    padding: 20px 0 0;
    @include minTablet {
      padding: 0 0 0 38px;
      max-width: calc( 100% - 293px);
    }
    strong,
    span {
      display: block;
    }
    .nome {
      font-weight: bold;
      color: #1a0e49;
      font-size: 22px;
      @include minTablet{
        font-size: 30px;
      }
    }
    .negocio {
      color: #8d8c8c;
      font-size: 18px;
      @include minTablet{
        font-size: 24px;
      }
    }
    .localizacao {
      color: #8d8c8c;
      font-size: 16px;
      @include minTablet{
        font-size: 18px;
      }
    }
  }
  .descricao {
    display: none;
    font-family: "Source Sans Pro";
    line-height: 1.5;
    letter-spacing: -0.4px;
    text-align: justify;
    font-size: 18px;
    padding: 20px 0 0;
    @include minTablet {
      font-size: 24px;
      padding: 45px 0 0;
    }
  }
  &.visaoDetalhe {
    @include minTablet {
      padding: 48px 72px vw(177);
    }
    .imagem {
      display: block;
      @include minTablet {
        max-width: 100%;
      }
    }
    .informacoes {
      display: none;
    }
    .descricao {
      display: inline-block;
    }
  }
}
