@import "./scss/utils.scss";

// @font-face {
//   font-family: "Open Sans";
//   src: url("./fonts/OpenSans-Bold.woff2") format("woff2"),
//     url("./fonts/OpenSans-Bold.woff") format("woff");
//   font-weight: bold;
//   font-style: normal;
// }

// ESTILO RESET CSS
* {
  margin: 0;
  padding: 0;
  list-style: inside none;
  vertical-align: baseline;
  border: 0 none;
}

// ESTILO PARA BOX SIZING
*,
*:after,
*:before {
  box-sizing: border-box;
}

// HACKING PARA CLEARFIX

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// HACKING PARA REMOCAO DA BORDA PADRAO DO CHROME NOS INPUTS

:focus {
  outline: 0;
}

// ESTILO PARA TAGS HTML

body {
  background-color: #ebe9d7;
  word-wrap: break-word;
  font-family: "Roboto", "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

// ESTILO PARA CLASSES GENERICAS

.container {
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
}
